/* settings */
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

#grid {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "header"
        "main";
}

/* body */
body {
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(60, 60, 60);
}

/* header */
#header {
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(61, 79, 88);
}

#header-logo {
    font-family: "Rubik", sans-serif;
}


/* main */
main {
    margin: auto;
}

#main-box {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    margin: 50px 5px;
}

#unit-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.unit-li {
    padding: 13px;
    border-radius: 5px;
    font-size: 0.9em;
}

#unit-calc-div {
    padding: 10px;
    margin: 0;
}

.amount-input {
    padding: 5px;
    width: 150px;
    margin: 3px;
}

.unit-select {
    padding: 5px;
    background-color: white;
    margin: 3px;
    width: 150px;
}

p {
    padding: 3px;
    margin: 0;
    font-size: 0.8em;
}